.wrapper {
	border: 1px solid white;
	color: #b4b4b2;
	font-family: "Roboto";
	font-size: 1.3rem;
	font-weight: bold;
	height: 100px;
	padding-top: 4rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	width: 150px;

	.link_container {
		border: 1px solid red;
		position: absolute;
		top: 2rem;
		width: 100%;
	}

	&:hover {
		background: url("./navlink-lightup-hover.png") center -1rem no-repeat transparent;
	}
}
