.container {
	color: black;
	display: grid;
	grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
	height: 24rem;
	padding: 3rem 2rem;
	width: 100%;

	.title {
		color: white;
		font-size: 3rem;
		font-weight: 700;
	}
	.text {
		color: white;
		margin-top: 2rem;
	}
}
