.block_background {
	border-radius: 1vw;
	box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.49);
	cursor: pointer;
	height: 400px;
	position: relative;
	transition: background-size 1.5s, filter 1.5s;
	width: 600px;

	.block_content {
		border-radius: 1vw;
		bottom: 0;
		cursor: pointer;
		display: grid;
		grid-template-columns: 1fr;
		height: 25rem;
		position: absolute;
		width: 100%;

		.title_and_icon_container {
			align-items: center;
			cursor: pointer;
			display: flex;
			margin-top: 8rem;
		}

		.icon_container {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			width: 10rem;

			.icon {
				cursor: pointer;
				filter: brightness(1.5) saturate(1.2);
				width: 8rem;
			}
		}

		.title {
			cursor: pointer;
			font-size: 3rem;
			font-weight: 700;
			letter-spacing: 2px;
			text-shadow: 0px 0px 10px #000000;
		}

		.text_container {
			cursor: pointer;
			width: 100%;
			.text {
				cursor: pointer;
				font-weight: 300;
				margin: 2rem;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
			}
		}
	}
}

@media (max-width: 1800px) {
	.block_background {
		height: 300px;
		width: 450px;

		.block_content {
			height: 21rem;
			.title_and_icon_container {
				.title_container {
					.title {
						font-size: 2rem;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.25rem;
					margin: 1rem;
				}
			}
		}
	}
}

@media (max-width: 1240px) {
	.block_background {
		height: 260px;
		width: 390px;

		.block_content {
			height: 20rem;
			.title_and_icon_container {
				.title_container {
					.title {
						font-size: 2rem;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.25rem;
					margin: 1rem;
				}
			}
		}
	}
}

@media (max-width: 1040px) {
	.block_background {
		height: 210px;
		width: 310px;

		.block_content {
			height: 21rem;
			.title_and_icon_container {
				.title_container {
					.title {
						font-size: 2rem;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.2rem;
					margin: 1rem;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.block_background {
		height: 380px;
		margin-top: 2rem;
		width: 560px;

		.block_content {
			height: 25rem;
			.title_and_icon_container {
				.title_container {
					.title {
						font-size: 2.5rem;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.6rem;
					margin: 3rem;
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.block_background {
		height: 270px;
		margin-top: 2rem;
		width: 390px;

		.block_content {
			height: 21rem;
			.title_and_icon_container {
				.title_container {
					.title {
						font-size: 2rem;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.5rem;
					margin: 2rem;
				}
			}
		}
	}
}

@media (max-width: 414px) {
	.block_background {
		height: 250px;
		margin-top: 0.5rem;
		width: 350px;

		.block_content {
			.title_and_icon_container {
				.icon_container {
					.icon {
						width: 60px;
					}
				}

				.title_container {
					.title {
						font-size: 1.6rem;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.2rem;
					margin: 2rem;
				}
			}
		}
	}
}

@media (max-width: 360px) {
	.block_background {
		height: 205px;
		margin-top: 0rem;
		width: 310px;

		.block_content {
			height: 18rem;
			.title_and_icon_container {
				.icon_container {
					.icon {
						width: 50px;
					}
				}

				.title_container {
					.title {
						font-size: 1.2rem;
						font-weight: 900;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1.1rem;
					margin: 2rem;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.block_background {
		height: 170px;
		width: 265px;

		.block_content {
			height: 20rem;
			.title_and_icon_container {
				.icon_container {
					.icon {
						width: 50px;
					}
				}

				.title_container {
					.title {
						font-size: 1.2rem;
						font-weight: 900;
					}
				}
			}

			.text_container {
				.text {
					font-size: 1rem;
					margin: 2rem;
				}
			}
		}
	}
}
