.container {
	bottom: 0;
	height: 10rem;
	position: absolute;
	width: 100%;

	.icon_container {
		align-items: center;
		display: flex;
		justify-content: center;

		.icon {
			width: 8rem;
		}
	}
}
