.container {
	background: none;
	display: flex;
	flex-direction: column;
	height: 10rem;
	position: absolute;
	top: 0%;
	width: 100%;

	.navbar_left {
		left: 3%;
		position: absolute;
		top: 30%;
	}

	.navbar_right {
		cursor: pointer;
		padding: 1rem;
		position: absolute;
		right: 3%;
		top: 10%;

		&:hover {
			background-color: rgba(20, 20, 20, 1);
		}
	}
}

@media (max-width: 650px) {
	.container {
		.navbar_left {
			.navbar_left_text {
				font-size: 1.3rem;
			}
		}

		.navbar_right {
			.navbar_right_text {
				font-size: 1.3rem;
			}
		}
	}
}
