.block_content_grid_container {
	border: 1px solid red;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
	place-items: center;
	width: 100%;
}

.image_and_desc_display_container {
	border: 1px solid red;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 80rem;
	margin-top: 3rem;
	padding-bottom: 3rem;
	place-items: center;
}
