.container {
	min-height: 100vh;
	position: relative;
}

.block_content_grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1rem;
	place-items: center;
	width: 100%;
}

.image_and_desc_display_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100rem;
	padding-bottom: 10rem;
	place-items: center;
}

@media (max-width: 900px) {
	.container {
		min-height: 300vh;
	}

	.block_content_grid_container {
		grid-template-columns: 1fr;
		height: 90rem;
	}
}

@media (max-width: 650px) {
	.image_and_desc_display_container {
		grid-template-columns: 1fr;
		height: 180rem;
	}

	.block_content_grid_container {
		height: 70rem;
	}
}

@media (max-width: 414px) {
	.container {
		min-height: 270vh;
	}

	.block_content_grid_container {
		grid-template-columns: 1fr;
		height: 55rem;
	}

	.image_and_desc_display_container {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 360px) {
	.container {
		min-height: 300vh;
	}
}
