.container {
	min-height: 100vh;
	position: relative;
}

.block_content_grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
	place-items: center;
	width: 100%;
}

.image_and_desc_display_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100rem;
	padding-bottom: 10rem;
	place-items: center;
}
