@use "./styles/reset.scss";
@use "./styles/global.scss";

* {
	cursor: default;
}

body {
	margin: 4rem 30rem 0rem 30rem;
}

a {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}
