.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;

	.text_input_wrapper {
		align-items: center;
		border-radius: 0 0 10px 10px;
		display: flex;
		height: 10rem;
		justify-content: center;
		margin-bottom: 3rem;
		width: 100%;

		.text_input {
			border: none;
			border-radius: 25px;
			font-size: 2rem;
			height: 15px;
			outline: none;
			padding: 20px;
			width: 200px;
		}
	}

	.list_container {
		margin-bottom: 15vh;
	}
}
