.container {
	align-items: center;
	border: none;
	border-radius: 10px;

	color: white;
	cursor: pointer;
	display: flex;
	height: 100px;
	justify-content: center;
	margin-top: 5rem;
	width: 60%;

	&:hover,
	&:active {
		filter: brightness(0.8);
	}

	.text {
		cursor: pointer;
		font-size: 3rem;
	}
}
